
.work_con a .xiaomi	{
    height: 90px;
    background: url("../images/xiaomi.png") no-repeat;
    margin-bottom: 20px;
}
.work_con p {
    font-size: 30px;
}
.work_con a {
    font-size: 20px;
    color: #ff6700;
}
.work_con a .jingdong{
    height: 110px;
    background: url("../images/jingdong.png") no-repeat;
    margin-bottom: 20px;
}
.work_con a .suxin{
    height: 90px;
    background: url("../images/suxinhuahui.png") no-repeat;
}
.work_con a .zuopin1{
    height: 90px;
    background: url("../images/zuopin1.png") no-repeat;
}
.work_con a .zuopin2{
    height: 90px;
    background: url("../images/zuopin2.png") no-repeat;
}
.resume_logo{
    width: 40%;
}